target
generated-sources
angularCoverage
.idea
logs/*
spring.log
.classpath
.project
.settings
.*.swp
*~
*.ipr
*.iws
*.iml
bamboo-build.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
*.retry
phantomjsdriver.log
